<h3>SHOW INDIVIDUAL BLOG HERE</h3>

<div class="blog" ng-controller='BlogController as blog'>
  <div>
      {{blog.selectedBlog}}
  </div>
</div>

<!-- TODO: <button ng-show='home.control' type="button" name="button" ng-click='blog.update=!blog.update'>SHOW Update</button> -->

<div class="comments" ng-controller='CommentController as comment'>
    <div class="comment" ng-repeat='post in comment.comments'>
        <div>{{post.post}}</div>
        <!-- FIXME: Not showing for specific blog -->
        <button ng-show='home.control' type="button" name="button">Update</button>
        <button ng-show='home.control' type="button" name="button">Delete</button>
        <!-- TODO: If current user or admin hide update when down and show updated article -->
    </div>
    <div class="comments">
        <label for="commment">Make your comment: </label><br>
        <textarea name="comment" rows="8" cols="80" placeholder="Lets hear it"></textarea>
        <input type="submit" value="Say it!" ng-click='comment.makeComment()'>
    </div>
</div>
