<!-- TODO: Should only be accesed by Admin Users ONLY--> <!-- <br> Blog: {{blog}} -->
<h2>TOTAL BLOG LIST</h2>

<!-- TODO: to show when page renders (think on date app) https://github.com/ga-students/wdi-remote-matey/tree/09b532e94a1b4f63890885e019c22d95f899c282/unit_04/w12d05/homework_solution -->
<main>
    <div class="Blogs">
        <!-- <button type="button" name="button" ng-click='blog.showBlog()'>Show</button> -->
        <!-- When show function runs the following runs -->
        <div ng-repeat='article in blog.blogs' class="articles">
            <div class="article">
                <a ui-sref="article" ng-click='blog.getBlog()'>{{article.title}}</a> By: {{article.author}}
                <!-- <img ng-src="{{article.media}}" alt="{{article.title}}">
        Body: {{article.body}} -->
            </div>
            <!-- <button type="button" name="button" ng-click='blog.getBlog(article.id)'>SHOW</button>
      <button type="button" name="delete" ng-click='blog.deleteBlog(article.id)'>DELETE</button>
      <button type="button" name="button" ng-click='blog.updateBlog(article)'>UPDATE</button> -->
        </div>
    </div>
</main>
