<h1></h1>
<!-- TODO: SHOW BLOG TO RENDER HERE -->
<h3>SHOW INDIVIDUAL BLOG HERE</h3>
<div class="blog">
  Title: {{article.title}}
  By: {{article.author}}
  <!-- <img ng-src="{{article.media}}" alt="{{article.title}}">
  Body: {{article.body}} -->
</div>

<!-- Blog: {{blog}} -->

<button type="button" name="button" ng-click='blog.update=!blog.update'>SHOW Update</button>
<h3>UPDATE THE BLOG HERE</h3>
<div class="updateBlog" ng-show='blog.update'>
  <form class="" ng-click='blog.updateBlog()'>
    <label for="title">Title</label>
    <input type="text" name="title">
    <label for="author">Author</label>
    <input type="text" name="author">
    <label for="URL">Media URL:</label>
    <input type="url" name='url'>
    <label for="body">Body</label>
    <input type="text" name="body">
  </form>
</div>

<!-- FIXME: hide update when down and show updated article -->
