<!-- TODO: Parent view is admin -->

<h3>UPDATE THE BLOG HERE</h3>

<div class="updateBlog" ng-show='blog.update' ng-controller='BlogController as blog'>
    <form class="" ng-click='blog.updateBlog(currentBlog)'>
        <label for="title">Title</label>
        <input type="text" name="title" ng-model='currentblog.title'>
        <label for="URL">Media URL:</label>
        <input type="url" name='url' ng-model='currentBlog.media'>
        <label for="body">Body</label>
        <input type="text" name="body" ng-model='currentBlog.body'>
        <input type="submit" value="update">
    </form>
</div>
