<h1>SLIDE SHOW</h1>
<div class="IMAGES">
<p>IMAGES WILL BE IN A SLIDE SHOW HERE</p>
</div>

<button type="button" name="button" ng-click='blog.showBlog()'>Show</button>
<!-- When show function runs the following runs -->
<div class="collection">
  <div ng-repeat='article in blog.blogs' class="articles">
    Title: {{article.title}}
    By: {{article.author}}
    <img ng-src="{{article.media}}" alt="{{article.title}}">
    Written: {{article.created_at}}
    Updated: {{article.updated_at}}
    Body: {{article.body}}
  </div>
</div>
